.formCep{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.formCep input{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 10px;
  border: 0.5px solid #b6b6b6;
  background-color: rgb(236, 236, 236);
  outline: none;
}
.formCep p{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.2rem;
  font-size: 15px;
  margin-left: 0.3rem;
}
.formCep p a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(23, 23, 255);
}
.formInputs{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.formInputs input{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 10px;
  border: 0.5px solid #b6b6b6;
  background-color: rgb(236, 236, 236);
  outline: none;
}
.formInputs p{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.3rem;
  font-size: 15px;
  margin-left: 0.3rem;
}
