.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.navContainer{
  width: 100%;
  
}
.searchInput{
  display: none;
}
@media only screen and (max-width: 720px) {
 .searchInput{
    display: flex;
    margin-top: 1rem;
  }
  .searchInput input{
    width: 15rem;
    color: rgb(172, 173, 173);
  }
  .searchInput button{
    border: 1px solid rgba(0, 0, 0, 0.678);
    background-color: #fff;
  }
  .searchInput button:hover{
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.678);
    color: rgba(0, 0, 0, 0.678);
    transition: 0.5s ease-in-out;
  }
  .dropdownMenu{
    display: none;
  }
}
